body {
    background-image:url('background.jpg'); 
    background-position: -100px -100px;
    margin:0px;
    padding:0px;
    font-family:sans-serif;
    color:white;
}

.content {  
    position:fixed;
    top:20px;
    bottom:0px;
    left:0px;
    right:0px;
    overflow:hidden;
    margin-bottom:0px;
    padding:0px 10px;
    transform: translate3d( 0px,0px,0px)
}

.footer {
    position:fixed;
    height:22px;
    left:0px;
    right:0px;
    bottom:0px;
    background: rgba(255,255,255,0.9);
    color:888;
    text-align:center;
    padding:5px 0px 0px 0px;
    border-top:5px solid #CCC;
    font-size:12px;
}

.footer.active {
    background: rgba(200,200,200,0.9);
}

button {
    width:80px;
    height:80px;
    float:left;
    margin:10px;
    border-radius: 20px;
    background: rgba(255,255,255,1);
}

.back {
    background: url('back_arrow.png'); 
    background-repeat: no-repeat;
    margin:20px;
    margin-left:-5px;
    margin-top:10px;
    padding:0px;
    border:none;
    width:50px;
    height:50px;
    float:none;
}

.title {
    top: 20px;
    left: 60px;
    position: absolute;
    font-size: 20pt;
}

.page_content {
    position:relative;   
}

#main_container {
    width:90%;
    margin: 10px;
    font-size: 14pt;
}

#main_container .forward {
    float:none;
    width:100%;
    padding:0px;
    margin:0px;
    height:40px;
}

/* using this media query to force center content on my android device (samsung galaxy s4 )*/
@media screen and (device-aspect-ratio: 9/16) {
    #navigation {  
        padding:0px 30px;
    }
}


/*  PAGE TRANSITIONS:
    http://coenraets.org/blog/2013/03/hardware-accelerated-page-transitions-for-mobile-web-apps-phonegap-apps/
*/

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding:0px 10px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
 
.page.left {
    left: -100%;
}
 
.page.center {
    left: 0;
}
 
.page.right {
    left: 100%;
}
 
.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}
